.visualizerContainer {
  min-height: 100vh;
  background-color: var(--visualizer-container-bg-clr);
}

.visualizerControlContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--control-group-bg-clr);
  justify-content: space-between;
}

.visualizerContainerLogo { padding-left: 2rem; }

.visualizerContainerLogoLink {
  text-decoration: none;
  color: var(--text-clr);
  font-size: 2.25rem;
  text-transform: capitalize;
  font-weight: 700;
}

.controlGroup {
  flex-grow: 1;
  /* height: 5rem; */
  padding: 1rem 0;
  background-color: var(--control-group-bg-clr);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.controlGroup > div {
  padding: 0 2rem;
  /* height: 100%; */

  display: flex;
  align-items: center;  
}

.generateArrayBtn,
.generateArrayBtn:focus, 
.generateArrayBtn:active {
  border: none;
  outline: none;
}

.generateArrayBtn {
  font-size: var(--normal-text-fs);
  height: 4rem;
  font-weight: 600;
  background: none;
  color: var(--text-clr);
  border-radius: .5rem;
  cursor: pointer;
  transition: 0.2s all ease-in;
}

.generateArrayBtn:hover {
  background-color: var(--light-sea-green);
}

.sortingAlgorithmName {
  height: 4rem;
  background-color: var(--light-sea-green);
  font-size: var(--normal-text-fs);
  font-weight: 600;
  color: var(--text-clr);
  border-radius: .5rem;
  pointer-events: none;
}

.sortButton {
  width: max-content;
  padding: 0 2rem;
  height: 4rem;
  font-size: var(--normal-text-fs);
  color: var(--text-clr);
  background-color: var(--red);
  border: none;
  outline: none;
  border-radius: .5rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s all ease-in;
}

.sortButton:hover {
  transform: scale(1.1);
}

.hamburgerMenu {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: .65rem;
  opacity: 0;
  visibility: hidden;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.hamburgerBar {
  width: 3rem;
  height: .5rem;
  background-color: var(--white);
  border-radius: .5rem;
}

.barContainer {
  max-width: 70rem;
  height: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
}

.array-bar {
  display: grid;
  justify-content: center;
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--bar-content-clr);
}

@media screen and (max-width: 1200px) {
  :root {
    --normal-text-fs: 1.65rem;
  }
  .controlGroup {
    padding: 2rem 0;
    align-items: flex-start;
  }
}

@media screen and (max-width: 692px) {
  :root {
    --normal-text-fs: 1.5rem;
  }

  .controlGroup {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .controlGroup > * {
    margin-bottom: 1.5rem;
  }

  .controlGroup > .sortingAlgorithmName {
    display: none;
  } 

  .hamburgerMenu {
    opacity: 1;
    visibility: visible;
  }

  .visualizerControlContainer {
    padding: 2rem 0;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .controlGroup {
    width: 100%;
    display: none;
    display: flex;
  }

  .barContainer { 
    max-width: calc(100vw - 3rem);
  }
}